<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotcosmos.vms.dao.invoice.vmsCustomerInfoMapper">
    <resultMap id="BaseResultMap" type="com.hotcosmos.vms.domain.invoice.vmsCustomerInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="CUSTOMER_ID" jdbcType="VARCHAR" property="customerId"/>
        <id column="CHERNUM" jdbcType="VARCHAR" property="chernum"/>
        <result column="CUSTOMER_CNAME" jdbcType="VARCHAR" property="customerCname"/>
        <result column="CUSTOMER_TAXNO" jdbcType="VARCHAR" property="customerTaxno"/>
        <result column="CUSTOMER_ACCOUNT" jdbcType="VARCHAR" property="customerAccount"/>
        <result column="CUSTOMER_CBANK" jdbcType="VARCHAR" property="customerCbank"/>
        <result column="CUSTOMER_PHONE" jdbcType="VARCHAR" property="customerPhone"/>
        <result column="CUSTOMER_EMAIL" jdbcType="VARCHAR" property="customerEmail"/>
        <result column="TAXPAYER_TYPE" jdbcType="CHAR" property="taxpayerType"/>
        <result column="FAPIAO_TYPE" jdbcType="CHAR" property="fapiaoType"/>
        <result column="CUSTOMER_TYPE" jdbcType="CHAR" property="customerType"/>
        <result column="CUSTOMER_FAPIAO_FLAG" jdbcType="CHAR" property="customerFapiaoFlag"/>
        <result column="CUSTOMER_NATIONALITY" jdbcType="VARCHAR" property="customerNationality"/>
        <result column="DATA_SOURCE" jdbcType="VARCHAR" property="dataSource"/>
        <result column="LINK_NAME" jdbcType="VARCHAR" property="linkName"/>
        <result column="LINK_PHONE" jdbcType="VARCHAR" property="linkPhone"/>
        <result column="CUSTOMER_ZIP_CODE" jdbcType="VARCHAR" property="customerZipCode"/>
        <result column="SYNCH_DATE" jdbcType="TIMESTAMP" property="synchDate"/>
        <result column="CUSTOMER_ADDRESS" jdbcType="LONGVARCHAR" property="customerAddress"/>
        <result column="LINK_ADDRESS" jdbcType="LONGVARCHAR" property="linkAddress"/>
    </resultMap>
</mapper>